:root{
    --graycolor: #f1f1f1;
    --blackcolor:#000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--graycolor) ;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

 /* header section styles */
header{
    text-align: center;
    align-content: center;
    border: 1px solid black;
    padding: 32px 16px;
}
header h1{
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0;
}
header h1 b{
    font-weight: bolder;
}
header p{
    margin: 15px 0;
}
header p > span{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0 8px;
    display: inline-block;
}
 /* header section styles */

 /* main style part */
 main{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 2fr 1fr;
    padding-right: 16px;
    padding-left: 16px;
 }

 aside{
    width: 33.33%;
 }

 .main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 66.66%;
 }
.main-sections{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}
.main-sections img{
    width: 100%;   
}
.main-sections h3{
    margin: 10px 0;
    font-size: 24px;
    text-transform: uppercase;
}
.main-sections h5{
    margin: 10px 0;
    font-size: 18px;
    text-transform: capitalize;
}
.main-sections h5 > span{
    font-size: 18px;
    font-weight: 400;
    opacity: 0.60;
}
.main-sections p{
    margin: 15px 0;
    font-size: 15px;
    line-height: 22.5px;
    color: var(--blackcolor);
}


 